<html>
	<head>
		<title>czi-bunny help page</title>
		<style type="text/css">
        	.container {
        		padding-top: 15px;
            }
    	</style>
	</head>

	<body>
		<div class="container">
			<p> Here are a list of commands currently available on czi-bunny </p>
			<ul>
				{% for n in command_list %}
				<li>{{n}}</li>
				{% endfor %}
			</ul>
			<p> For any suggestions, create an issue on <a href="https://github.com/chanzuckerberg/czi-bunny">czi-bunny</a>! </p>	
		</div>
	</body>
</html>
