<html>
	<head>
		<title>Home of jack_bunny</title>
		<style type="text/css">
			.container {
				padding-top: 15px;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<p> This is inspired by the bunnylol search engine at facebook. There's an open
				version currently available, released by Charlie Cheever at <a href="https://github.com/ccheever/bunny1">bunny1</a>
				but it hasn't been updated in a while so I decided to release my own. I included more commands
				that I personally found to be really useful and I hope you enjoy it :) </p>
			<h2> Installing on Google Chrome </h2>
			<ul>
				<li> Open settings. Scroll down to the section where it says "Search engine" </li>
				<li> Click 'Manage search engines'. Next to 'Other search engines', click the ADD button </li>
				<li> Name the 'Search engine' and 'Keyword' field whatever you want. Inside the URL field, paste this: http://bunny.jackjyang.com/q/?query=%s </li>
				<li> Set this search engine to your default </li>
				<li> Type 'help' into your address bar to see which commands are currently available </li>
			<ul>
		</div>
	</body>
</html>
